@charset "utf-8";

/* CSS Document */

Coverband { 
    color: white; 
    background-color: #b2ffb2; 
    width: 100%; 
} 
heading { 
    color: #1919ff; 
    font-size: 45px;
    font-family: script; 
    background-color: #ffffb2; 
} 
Song { 
    display: block;  
    border: 1px solid silver; 
    margin: 0.75em;  
    padding: 0.75em;  
    background-color: whitesmoke; 
}
heading, Artist, Title, MusicGenre, YearOfRelease { 
     display: block; 
} 
Artist { 
     font-size: 20px; 
     font-weight: bold;
     font-family: arial;
} 
Title { 
     font-size: 25px; 
     font-weight: bold;
} 

